# Parallel processing

In [1]:
import pandas as pd
from time import sleep
from concurrent.futures import ThreadPoolExecutor

In [2]:
def slow_square(n: int):
    sleep(n)
    return n * n

def slow_square_series(s: pd.Series):
    with ThreadPoolExecutor(max_workers=2) as executor:
        return pd.Series(executor.map(slow_square, s))

In [3]:
df = pd.DataFrame({
    'num': [1, 2, 3]
})
df

   num
0    1
1    2
2    3

In [4]:
%%time

df.num.apply(slow_square)

CPU times: user 1.22 ms, sys: 991 Âµs, total: 2.21 ms
Wall time: 6 s

0    1
1    4
2    9
Name: num, dtype: int64

In [5]:
%%time

df.apply(slow_square_series)

CPU times: user 3.64 ms, sys: 1.85 ms, total: 5.49 ms
Wall time: 4.01 s

   num
0    1
1    4
2    9